{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% block header %}{% endblock %}
    <title>{% block title %}My Blog{% endblock %}</title>
</head>
<body>
    <button id="themeToggle" class="btn btn-outline-secondary position-fixed bottom-0 end-0 mb-3 me-3 z-3">
        🌙 Dark
    </button>
    {% include "include/header.html" %}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script src="{% static "js/dark-mode-toggle.js"%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>