<script>
    const button = document.getElementById('themeToggle');

    if (button) {
        const html = document.documentElement;
        const header = document.getElementById("header")
        const markdown_theme = document.getElementById("markdown-theme-css");

        // Set initial label based on current theme
        if (html.getAttribute('data-bs-theme') === 'dark') {
            button.textContent = '☀️ Light';
        } else {
            button.textContent = '🌙 Dark';
        }

        button.addEventListener('click', () => {
            if (html.getAttribute('data-bs-theme') === 'dark') {
                html.setAttribute('data-bs-theme', 'light');
                if (header) {
                    header.setAttribute('data-bs-theme', 'light');
                    header.classList.add("navbar-dark", "bg-dark")
                    header.classList.remove("navbar-light", "bg-light")
                }
                if (markdown_theme) {
                    markdown_theme.href = "https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-okaidia.min.css"
                }
                button.textContent = '🌙 Dark';
            } else {
                html.setAttribute('data-bs-theme', 'dark');
                if (header) {
                    header.setAttribute('data-bs-theme', 'dark');
                    header.classList.remove("navbar-dark","bg-dark")
                    header.classList.add("navbar-dark","bg-primary")
                }
                if (markdown_theme) {
                    markdown_theme.href = "https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css"
                }
                button.textContent = '☀️ Light';
            }
        });
    }
</script>